@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;  
  font-family: 'Poppins', sans-serif;   
  color: #FFF;
}

/* Variaveis CSS */
:root {
  --primary: #FF206E;
  --background: #0D1117;
  --card-background: #161B22;
  --transition: background-color 0.20s ease-in-out;
  --border: 2px solid var(--primary);
  --radius: 11px;
  --border-grey:2px solid #646464;
}

body{
  background-color: var(--background);
}

/* Buttons */
.btn{
  border-radius: 8px;
  border: var(--border);
  padding: 10px 12px!important;
  transition: var(--transition);
  border: var(--border)!important;
}

.btn-primary{
  background-color: transparent!important;
}

.btn-primary:hover{
  background-color: var(--primary)!important;
}

.btn-secondary{
  background-color: var(--primary)!important;
}

.btn-secondary:hover{
  background-color: transparent!important;
}

/* Navbar */
.navbar{
  background-color: var(--background);
}

.navbar .navbar-collapse .nav-link{
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
} 

.navbar .navbar-collapse .nav-link:hover{
  transition: var(--transition);
  color: var(--primary); 
}

.navbar .navbar-collapse .btn-primary{
  width: 120px;
}

section{
  margin: 200px 0px;
}

section .section-head {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

section .section-head h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; 
}

@media screen and (max-width: 768px) {
  section{
    margin: 100px 0px;
  }
  
  section .section-head {
    margin-bottom: 30px;
  }
  
  section .section-head h1 {
    font-size: 36px;
  }
}

section .section-head h1 span{
  color: var(--primary);
}

/* Hero Section */
section.hero{
  margin-top: 120px;
}

section.hero .text-group .titulo {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 119.5%;
}

section.hero .text-group .subtitulo {
  font-size: 35.03px;
  font-style: normal;
  font-weight: 600;
  line-height: 153%;
}

section.hero .text-group .subtitulo span{
  color: var(--primary);
}

@media screen and (max-width: 1400px) {
  section.hero .text-group .titulo {
    font-size: 46px;
  }
  
  section.hero .text-group .subtitulo {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  section.hero .text-group .titulo {
    font-size: 30px;
  }
  
  section.hero .text-group .subtitulo {
    font-size: 25px;
  }
}

/* Como Solucionamos Section */

section.como-solucionamos {
  position: relative;
}

section.como-solucionamos .top {
  text-align: right;
  height: 35%;
}

section.como-solucionamos .bottom {
  text-align: right;
  height: 50%;
}

section.como-solucionamos .top .titulo {
  text-align: right;
  font-size: 50px;
  font-weight: 600;
}

section.como-solucionamos .bottom .subtitulo {
  text-align: right;
  font-size: 30px;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  section.como-solucionamos .top .titulo {
    font-size: 40px;
    font-weight: 600;
  }
  
  section.como-solucionamos .bottom .subtitulo {
    text-align: right;
    font-size: 25px;
  }
}

section.como-solucionamos .barra {
  background-color: var(--primary);
  position: absolute;
  top: 35%; 
  left: 50%;
  width: 100%; 
  height: 50%; 
  transform: translateX(-50%);
  z-index: -1;
}

@media screen and (max-width: 992px) {
  section.como-solucionamos .row {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
  
  section.como-solucionamos .row>.img-container {
    padding: 0px!important;
    width: 100%;
  }
  
  section.como-solucionamos .text-head {
    text-align: center;
    height: auto;
    background-color: var(--primary);
    padding: 40px 0px;
  }
  
  section.como-solucionamos .top {
    margin-bottom: 0.5rem;
  }
  
  section.como-solucionamos .top .titulo {
    text-align: center;
  }
  
  section.como-solucionamos .bottom .subtitulo {
    text-align: center;
  }

  section.como-solucionamos .barra {
    display: none;
  }
}

section.Recursos .cardRecursos {
  padding: 32px 10px;
  background-color:var(--card-background);
  border: var(--border-grey);
  border-radius: var(--radius);
  max-width: auto;

}

section.Recursos .cardRecursos:hover{
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px #FF206E;
  border: var(--border);
}

section.Recursos .cardRecursos .icon{
  font-size: 100px;
  color: var(--primary);
}

section.Recursos .cardRecursos .titulo{
  opacity: 0.6;
  border: var(--primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.14px;
  margin-bottom: 11px;
}

section.Recursos .cardRecursos .subtitulo{
  opacity: 0.9;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  letter-spacing: 0.14px;
  min-height: 96px;
  max-height: 96px;
}

section.OrientacoesDicas h1.titulo{
  /* font-size: 56px; */
  font-weight: 600;
}

section.OrientacoesDicas p{
  font-size: 22px;
  font-weight: 400;
}

section.OrientacoesDicas h1 span{
  color: var(--primary);
}

section.OrientacoesDicas .text-group{
  width: 70%;
}

.jobs-container{
  margin-bottom: 15px;
}

section.vagas-recentes .jobs-container .job-card {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 22px;
  border-radius: 11px;
  border: var(--border);
  background-color: var(--card-background);
  transition: filter 0.3s ease;
}

section.vagas-recentes .jobs-container .job-card:hover {
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px #FF206E;
}

section.vagas-recentes .job-card .job-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 17px;
}

section.vagas-recentes .job-card .job-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.14px;
  opacity: 0.8;
  display: -webkit-box;
  overflow: hidden;
  max-height: 231px;
  min-height:  231px;
  word-break: break-all;
  margin-bottom: 17px;
}

section.vagas-recentes .job-card .job-details .row>.col-auto{
  padding-right: 0!important;
}

section.vagas-recentes .job-card .job-details p{
  margin-bottom: 0px!important;
}

section.vagas-recentes .job-card .job-details .company-details .logo-container {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #40465A;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.vagas-recentes .job-card .job-details .company-details .logo-container img  {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}

section.vagas-recentes .job-card .job-details .company-details .company-name {
  font-weight: 500;
}

section.vagas-recentes .job-card .job-details .company-details .location {
  font-size: 16px;
  font-weight: 400;
}

section.vagas-recentes .job-card .job-details .company-details .location i{
  color: var(--primary);
}

section.vagas-recentes .job-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background: rgba(255, 32, 110, 0.050);
  opacity: 0;
  transition: opacity .2s; 
}

section.vagas-recentes .job-card:hover .job-overlay {
  opacity: 1;
}

section.tecnologiasEmAlta span{
  color: var(--primary);
}

section.tecnologiasEmAlta div.Card{
  background: #0F172A;
  gap: 24px;
  align-items: center;
  border: var(--border);
  border-radius: 11px;
  padding: 32px;
  position: relative;
}

section.tecnologiasEmAlta div.top{
  margin-bottom: 40px;
}

section.tecnologiasEmAlta h2{
  font-size: 35px;
  font-weight: 700;
}

section.tecnologiasEmAlta div.Card p{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  min-height: 120px;
  max-height: 120px;
}

section.tecnologiasEmAlta div.Card:hover{
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px #FF206E;
}

section.tecnologiasEmAlta div.Card a.tec-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  transition: opacity .2s;
}

@media screen and (max-width: 420px) {
  section.tecnologiasEmAlta div.Card p{
    font-size: 16px;
    min-height: 160px;
    max-height: 160px;
  }
}

/* Iniciando arquivo dicas.html */
/* Explorando Section */

section.Explorando{
  margin-top: 120px;
}

section.Explorando h1.titulo{
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 61.6px */
margin-bottom: 27px;
}

section.Explorando h2.subtitulo{
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 27.5px */
margin-bottom: 40px;

}

section.Explorando .CardTermo{
border: var(--border-grey);
border-radius: var(--radius);
padding: 40px 32px 40px 32px;
gap: 52px;
background: #0F172A;
position: relative;
}

section.Explorando div.CardTermo h2.subtitulo{
  flex-shrink: 0;
  align-self: stretch;
  text-align: center;
  margin-bottom: 30px;
}

section.Explorando div.CardTermo p.paragrafo{
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 35.2px */
letter-spacing: 0.14px;
min-height: 175px;
max-height: 175px;  
}

/* Projetos Section */

section.Projetos div.words {
  padding: 0px 50px;
  gap: 80px;
  }
  
  section.Projetos h1.titulo{
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 61.6px */
  margin-top: 85px;
  margin-bottom: 25px;
  }
  
  section.Projetos h2.subtitulo{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  }

  /* Montando Section */

  section.Montando div.words{
    padding: 0px 50px;
    gap: 80px;
  }
  
  section.Montando h1.titulo{
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 61.6px */
    margin-top: 85px;
    margin-bottom: 25px;
  }
  
  section.Montando h2.subtitulo{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
  }

/* Iniciando Página de Curriculos */
section.gerador {
  margin-top: 70px;
}

section.gerador .form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  color: #CACACA;
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

section.gerador .form-floating label:after{
  background-color: var(--background)!important;
  color: #CACACA!important;
}

@media screen and (min-width: 992px) {
  section.gerador .row>.col-lg-2{
    padding-right: 0;
  }
}

section.gerador .form-control {
  border-radius: 8px;
  border: var(--border);
  background: var(--background)!important;
  padding: 10px;
  color: #FFF!important;
  font-weight: 500;
}

section.gerador .form-control:focus {
  border-color: var(--primary); 
  box-shadow: 0px 0px 18.6px 0px var(--primary);
}

section.gerador textarea.form-control{
  min-height: 180px!important;
}

section.gerador textarea::-webkit-scrollbar {
  width: 0.3em;
}

section.gerador textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
}

section.gerador #picture-input {
  display: none;
}

section.gerador .picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 189.99px;
  aspect-ratio: 16/9;
  border: var(--border);
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--background);
}

section.gerador .picture:hover {
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 20px 0px #FF206E;
}

section.gerador .picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

section.gerador .picture-img {
  padding: 15px;
  max-width: 100%;
  max-height: 189.99px;
}

section.gerador .btn-group-lg .btn {
  padding: 16px!important;
}


/* Pagina de Vagas */

section.BuscarVagas div.Cardselect{
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px var(--primary);
}

section.BuscarVagas div.Cardselect div.text-group-selected h2{
  color: var(--primary);
}

section.BuscarVagas div.Cardselect div.text-group-selected p{
  color: var(--primary);
}

section.BuscarVagas div.CardAreas{
  background-color: var(--card-background);
  padding: 32px 20px;
  max-height: 170px;
  min-height: 170px;
  border-radius: 11px;
  border: var(--border);
  gap: 10px;
}

section.BuscarVagas div.CardAreas div.text-group h2{
  font-size: 21px;
  font-weight: 700;
}

section.BuscarVagas div.CardAreas div.text-group p{
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
}

section.BuscarVagas div.CardAreas:hover{
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px #FF206E;
}

@media screen and (max-width: 1399px){
  section.BuscarVagas div.CardAreas div.text-group h2{
    font-size: 18px;
  }
}

.jobs-container{
  margin-top: 150px;
  margin-bottom: 15px;
}

section.BuscarVagas .jobs-container .job-card {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 22px;
  border-radius: 11px;
  border: var(--border);
  background-color: var(--card-background);
  transition: filter 0.3s ease;
}

section.BuscarVagas .jobs-container .job-card:hover {
  transition: box-shadow 0.15s ease-in-out, transform 0.1s ease-in-out;
  transform: scale(1.005);
  box-shadow: 0px 0px 27.3px 0px #FF206E;
}

section.BuscarVagas .job-card .job-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 17px;
}

section.BuscarVagas .job-card .job-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.14px;
  opacity: 0.8;
  display: -webkit-box;
  overflow: hidden;
  max-height: 231px;
  min-height:  231px;
  word-break: break-all;
  margin-bottom: 17px;
}

section.BuscarVagas .job-card .job-details .row>.col-auto{
  padding-right: 0!important;
}

section.BuscarVagas .job-card .job-details p{
  margin-bottom: 0px!important;
}

section.BuscarVagas .job-card .job-details .company-details .logo-container {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #40465A;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.BuscarVagas .job-card .job-details .company-details .logo-container img  {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}

section.BuscarVagas .job-card .job-details .company-details .company-name {
  font-weight: 500;
}

section.BuscarVagas .job-card .job-details .company-details .location {
  font-size: 16px;
  font-weight: 400;
}

section.BuscarVagas .job-card .job-details .company-details .location i{
  color: var(--primary);
}

section.BuscarVagas .job-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background: rgba(255, 32, 110, 0.050);
  opacity: 0;
  transition: opacity .2s;
}

section.BuscarVagas .job-card:hover .job-overlay {
  opacity: 1;
}